@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #191919;
  --font-body: var(--font-body);
  --font-heading: var(--font-heading);
}

@theme {
  --color-heading: #363F36;
  --color-text: #8E8E8E;
  --color-primary: #363F36;
  --color-secondary: #4E3D34;
  --color-tertiary: #D9C7BF;
  --color-black: #191919;
  --color-white: #FDFDFD;

  --color-card: #F8F8F8;

  --color-navbar: #3E724A;
  --color-alt: #D9C7BF;
  --color-alt2: #EFE9E9;
  --color-green-hover: #244a2e;
  --color-green-active: #3E724A;

  --color-button: #3E724A;
  --color-button2: rgba(62, 114, 74, 0.1);

  --color-tag: #8D4A26;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #FDFDFD;
    --foreground: #191919;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p,
span,
a,
li,
button {
  font-family: var(--font-body);
}